{{template "header" .}}
<div class="w-full p-8">
  <h1>{{.Gallery.Title}}</h1>
  <div class="columns-4 gap-4 space-y-4">
    {{range .Images}}
    <div class="h-min w-full">
      <a href="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}">
        <img class="w-full" src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}" alt="{{.FilenameEscaped}}" title="{{.FilenameEscaped}}">
      </a>
    </div>
    {{end}}
  </div>
</div>
{{template "footer" .}}